* {
    margin: 0;
    padding: 0;
    font-family: 'TildaSans', 'Tilda Sans', 'Arial', 'sans-serif';
}

.catalogMainBlock {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px
}

@media screen and (max-width: 960px) {
    .catalogMainBlock {
        max-width: 640px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 961px) {
    .catalogMainBlock {
        max-width: 960px;
        padding: 0;
    }
}

.catalogGenderBlock {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.catalogGender {
    border: 2px solid #fff;
    padding: 10px 20px;
    font-size: 17px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

.catalogGenderChoosed {
    border: 2px solid #000;
}

.catalog {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.catalogLoading {
    font-size: 15px;
    color: #000;
    font-weight: 400;
}

.catalogItems {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
}

.catalogNoScroll {
    height: 200px;
    overflow: hidden;
}

.loadMore {
    padding: 10px 20px;
    border: 1px solid rgb(118, 118, 118);
    background: none;
    border-radius: 10px;
    font-size: 17px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 30px;
    margin-bottom: 30px;
}

.loadMore:hover {
    background-color: #efefef;
    transition: background 0.2s;
}

.loadMoreInactive {
    cursor: not-allowed;
    background-color: #efefef;
    color: #555555;
}

.loadMoreBlock {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media all and (max-width: 700px) {
    .catalog, .catalogGenderBlock {
        padding-left: 20px;
        padding-right: 20px;
    }
}