.search {
    width: 90%;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.searchBlock {
    width: 100%;
    max-width: 700px;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid #000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
}

.searchHints {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
    max-height: 250px;
    overflow-y: scroll;
    max-width: 700px;
}

.hintButton {
    width: 100%;
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.hintButton span {
    font-weight: 500;
    padding-right: 10px;
}

.hintButton:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

.search:focus, .search:active, .searchButton:focus, .searchButton:active {
    outline: none;
}

.searchButton {
    width: 30px;
    height: 30px;
    border: none;
    margin-left: 50px;
    background-image: url('./assets/loupe.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
}

.container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 50px;
    align-items: center;
}

.categoryTitle {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    align-self: flex-start;
    margin-top: 50px;
}

@media screen and (max-width: 960px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}